@import "common.css";

:root {
  --document-outline-size: 20px;
}

@media only screen and (min-width: 800px) {
  :root {
    --document-outline-size: 40px;
  }
}

body {
  border-left: var(--document-outline-size) solid var(--secondary-color);
  border-right: var(--document-outline-size) solid var(--secondary-color);
  border-bottom: var(--document-outline-size) solid var(--secondary-color);
  padding-bottom: 100px;
}

header {
  background: var(--secondary-color);
  padding: 20px 0;
  margin-bottom: 115px;
}

header .title {
}

header .content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#masthead {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 40px;
  margin: 0;
  position: relative;
  opacity: 0.8;
}

#masthead::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  height: 10px;
  background: var(--primary-color);
  bottom: -30px;
}

#masthead a {
  color: inherit;
  text-decoration: inherit;
}

@media only screen and (max-width: 800px) {
  nav {
    display: none;
  }
}

main a {
  text-decoration: underline;
}

nav ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-transform: uppercase;
}

nav li {
  margin: 0;
  padding: 0;
}

nav a {
  display: block;
  text-decoration: inherit;
  color: inherit;
  margin-left: 20px;
  position: relative;
  padding: 10px 0;
}

nav a.current::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  height: 5px;
  background: var(--primary-color);
  bottom: -27px;
}

.content-container {
  margin: 0 auto;
  max-width: 980px;
}

.intro {
  margin-bottom: 100px;
}

main {
  font-size: 25px;
}

@media only screen and (max-width: 639px) {
  main {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (min-width: 640px) and (max-width: 1120px) {
  main {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.title {
}

.subtitle {
}

.title {
  font-size: 56px;
  font-weight: 700;
}

.subtitle {
  color: #7f7f7f;
  font-size: 30px;
  margin-bottom: 100px;
  font-weight: 300;
}

.subtitle::after,
h2::after {
  margin-top: 20px;
  content: "";
  display: block;
  width: 100px;
  height: 5px;
  background: var(--primary-color);
}

main p {
  line-height: 1.4;
}

h2:not(.subtitle) {
  margin: 1em 0;
}

code:not([class^="language-"]) {
  background: var(--code-background-color);
  font-size: 0.9em;
  padding: 0.1em 0.2em;
  border-radius: 0.2em;
}

main li {
  margin-bottom: 0.3em;
}

blockquote {
  background: var(--code-background-color);
  margin-left: 0;
  margin-right: 0;
  padding: 1em;
  font-style: italic;
  border-left: 10px solid var(--primary-color);
}

blockquote p:last-child {
  margin-bottom: 0;
}

main img {
  max-width: 100%;
  border: 20px solid var(--secondary-color);
}

.article-teaser {
  display: block;
  font-size: 2rem;
  margin-bottom: 1em;
}