@import "common.css";

body {
  border-left: 40px solid var(--secondary-color);
  border-right: 40px solid var(--secondary-color);
  border-bottom: 40px solid var(--secondary-color);
  padding-bottom: 100px;
}

header {
  background: var(--secondary-color);
  padding: 20px 0;
  margin-bottom: 115px;
}

header .title {
}

header .content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#masthead {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 40px;
  margin: 0;
  position: relative;
  opacity: 0.8;
}

#masthead::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  height: 10px;
  background: var(--primary-color);
  bottom: -30px;
}

#masthead a {
  color: inherit;
  text-decoration: inherit;
}

nav ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-transform: uppercase;
}

nav li {
  margin: 0;
  padding: 0;
}

nav a {
  display: block;
  text-decoration: inherit;
  color: inherit;
  margin-left: 20px;
  position: relative;
  padding: 10px 0;
}

nav a.current::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  height: 5px;
  background: var(--primary-color);
  bottom: -27px;
}

.content-container {
  margin: 0 auto;
  max-width: 980px;
}

.intro {
  margin-bottom: 100px;
}

main {
  font-size: 25px;
}

.title {
}

.subtitle {
}

.title {
  font-size: 56px;
  font-weight: 700;
}

.subtitle {
  color: #7f7f7f;
  font-size: 30px;
  margin-bottom: 100px;
  font-weight: 300;
}

.subtitle::after,
h2::after {
  margin-top: 20px;
  content: "";
  display: block;
  width: 100px;
  height: 5px;
  background: var(--primary-color);
}

main p {
  line-height: 1.4;
}

h2:not(.subtitle) {
  margin: 1em 0;
}
