@import "common.css";
@import "_inner-page-common.css";

:not(.no-js) [data-hidden-until-initialized] {
    display: none;
}

.no-js #skills-marquee {
    list-style: initial;
    margin: initial;
    padding: initial;
}

#skills-marquee-container {
    background: var(--code-background-color);
}

@media screen and (min-width: 980px) {
    #skills-marquee-container {
        margin-left: calc((100vw - 980px) / 2 * -1);
        margin-right: calc((100vw - 980px) / 2 * -1);
    }
}


main.content-container {
    text-align: center;
}

/*#skills-marquee li:not(:last-of-type)::after {*/
/*    content: '·';*/
/*    margin-left: 1.5rem;*/
/*}*/
